.img{
    width: 800px;height: 800px;
    margin-left: 350px;
}
.imgtwo{
    width: 800px; height: 800px;
    margin-left: 350px;
}
.products{
    text-align: center;
}

.decoration{
    text-decoration: none; 
    color:black;
    padding-left: 470px;
    font-size:larger
}

.text{
    text-decoration: none;
    color: black;
    padding-left: 50px;
    font-size:larger
}

.type{
    text-decoration: none;
    color: black;
    padding-left: 50px;
    font-size:larger
}

.typo{
    text-decoration: none;
    color: black;
    padding-left: 50px;
    font-size:larger
}

.tt{
    text-decoration: none;
    color: black;
    padding-left: 50px;
    font-size:larger
}
.link{
    text-decoration: none;
}


